@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@layer base{
    body{
        @apply font-[Lato] text-[#333333] bg-[#F5F5F5];
    }

    li{
        @apply px-4;
        @apply cursor-pointer
    }
}

.content-div{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
    
}

.content-div:hover{
    background-image: linear-gradient(
        to right,
        rgba(112, 157, 255, 0.8),
        hsla(242, 74%, 61%, 0.8)
    )!important;
    
}